/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    background-color: rgb(15, 0, 26);
}

h1{
    text-align: center;
    font-size: 30px;
}

h3{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

p{
    margin-top: 50px;
    text-align: center;
}

.botao{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

#botoes{
   display: flex;
   justify-content: center;
   margin-top: 100px;
   gap: 10px;
    
}

#container{
    position: relative;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 15%;
    height: 400px;
    border-radius: 20px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

#reiniciar{
    display: flex;
    margin-top: -5px;
    height: 50px;
    width: 50px;
}

#reiniciar1{
    display: flex;
    justify-content: center;
    margin-top: -300px;
    width: 10px;
    height: 70px;
}

button {
    font-family: 'Poppins', sans-serif;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   button:hover {
    letter-spacing: 3px;
    background-color: rgb(46, 139, 87);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(46 139 87) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: seagreen;
    color: hsl(0, 0%, 100%);
    box-shadow:  rgb(46 139 87) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }